Source: pyvorbis
Section: interpreters
Priority: optional
Maintainer: Christopher L Cheney <ccheney@debian.org>
Build-Depends: debhelper (>> 3.0.0), libvorbis-dev (>> 1.0rc1), pyogg (>> 0.3), python-base, python-distutils
Standards-Version: 3.5.5.0

Package: pyvorbis
Architecture: any
Depends: ${shlibs:Depends}, pyogg
Description: A Python interface to the Ogg Vorbis library
 This module makes the libvorbis (Ogg Vorbis) functions available
 in Python. With this module you can write Python applications
 that use the ogg vorbis library.
