Source: vorbis-python
Section: interpreters
Priority: optional
Maintainer: Christopher L Cheney <ccheney@debian.org>
Build-Depends: debhelper (>> 2.0.0), libvorbis-dev (>> 1.0beta4), ogg-python (>> 0.2), python-base, python-distutils
Standards-Version: 3.5.1.0

Package: vorbis-python
Architecture: any
Depends: ${shlibs:Depends}
Description: A Python interface to the Ogg Vorbis library
 This module makes the libvorbis (Ogg Vorbis) functions available
 in Python. With this module you can write Python applications
 that use the ogg vorbis library.
