Source: oggsplit
Section: misc
Priority: optional
Maintainer: Philip Jägenstedt <philip@lysator.liu.se>
Build-Depends: debhelper (>> 4.0.0) libogg-dev (>> 1.0.0)
Standards-Version: 3.5.8

Package: oggsplit
Architecture: any
Depends: ${shlibs:Depends}
Description: splits multiplexed Ogg files
 oggsplit can split grouped or chained multiplexed Ogg
 files into separate files. It's useful for separating
 the video and audio in a theora+vorbis file or splitting
 two concatenated ogg files. oggsplit does not care about
 stream formats and thus works with any type of stream.
