Source: positron
Section: python
Priority: optional
Maintainer: Jack Moffitt <jack@xiph.org>
Build-Depends-Indep: debhelper (>> 4.0.0), python (>= 2.1), python-dev (>= 2.1)
Standards-Version: 3.5.8

Package: positron
Architecture: all
Depends: ${python:Depends}
Description: A synchronization manager for the Neuros Audio Computer
 positron is the synchronization manager for the Neuros Audio Computer.
 It supports adding, removing, and syncing files to/from the Neuros
 device.
