Source: ogg-python
Section: interpreters
Priority: optional
Maintainer: Christopher L Cheney <ccheney@debian.org>
Build-Depends: debhelper (>> 2.0.0), libogg-dev (>> 1.0beta4), python-base, python-distutils
Standards-Version: 3.5.2.0

Package: ogg-python
Architecture: any
Depends: ${shlibs:Depends}
Description: A Python interface to the Ogg library
 This module makes the libogg (Ogg) functions available
 in Python. With this module you can write Python applications
 that use the ogg library.
