Source: pyogg
Section: interpreters
Priority: optional
Maintainer: Christopher L Cheney <ccheney@debian.org>
Build-Depends: debhelper (>> 3.0.0), libogg-dev (>> 1.0rc1), python-base, python-distutils
Standards-Version: 3.5.5.0

Package: pyogg
Architecture: any
Depends: ${shlibs:Depends}
Description: A Python interface to the Ogg library
 This module makes the libogg (Ogg) functions available
 in Python. With this module you can write Python applications
 that use the ogg library.
