Makefile
Makefile.in
*.o
*.lo
*.la
*~
.deps
.libs
libtool
ltmain.sh
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libghost/testghost
missing
stamp-h1
*.kdevelop.pcs
*.kdevses

