[Desktop Entry]
Encoding=UTF-8
Version=0.12
Type=Application
Name=Ogg Vorbis Player
Exec=/var/lib/install/usr/bin/oggplay
Icon=qgn_list_gene_music_file
X-HildonDesk-ShowInToolbar=true
X-Osso-Service=com.nokia.oggplay
X-Osso-Type=application/x-executable
Terminal=false
