Source: theora-tools
Section: libs
Priority: optional
Maintainer: Christopher L Cheney <ccheney@debian.org>
Build-Depends: cdbs, autotools-dev, debhelper (>= 4.1.0), libogg-dev (>= 1.1.0)
Standards-Version: 3.6.0

Package: theora-tools
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description:  Some basic Ogg Theora tools
 theoraenc - encode Ogg Theora files from YUV4MPEG streams
 theora123 - simple player to play theora streams
 theora_dumpvideo - dumps the video stream
 theora_transcoder - transcode vp3 avi files without recompression
 avi2vp3    - dump the vp3 stream of an avi file
